table , tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 10px;
    background-color: blueviolet;
    /* border-collapse: separate; */
}

th{
    border: 5px solid rgb(182, 45, 45);
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 10px;
    background-color: blue;
    /* border-collapse: separate; */
}

caption{
    color: aqua;
    background-color: brown;
}